body {
  font-family: Helvetica, Verdana, Geneva, sans-serif;
  margin: 0;
  background-color: #f8f0e7;
  color: #41301e;
  line-height: 1.5;
}

header {
  background-color: #bca674; 
}

header img {
  width: 450px !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: left;
  gap: 20px;
}

.header-container img {
  width: 150px !important;
  height: auto !important;
  margin: 0 !important;
  display: inline-block !important;
}

header-container h1 {
  margin: 0;
  color: #441d04;
  font-size: 28px;
  white-space: normal;
  display: block;
}

nav {
  background-color: #ebbe5d;
  padding: 12px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: #fdebda;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #441d04;
}

footer {
  background-color: #bca674;
  border-top: 1px solid #ffffff;
  padding: 20px 0;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin-bottom: 5px;
}
